:root {
  --blanco:            #ffffff;
    --grisClaro:       #f2f2f2;
    --grisMedio:       #c0c0c0;
    --gris:            #474b4e;
    --grisOscuro:      #2e2e2e;
    --negro:           #000;
  --principal:         #ff9300 ;
  --principal-oscuro:  #ac6a0f ;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Utilidades */

.font-light {
  font-weight: lighter;
}

.bg-color-ppal {
  background-color: var(--principal);
}

.color-ppal {
  color: var(--principal);
}
.sombra {
  box-shadow: 2px 2px 15px 0px rgba(187, 125, 67, 0.5);
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
span.font-light {
  color: var(--blanco);
  font-size: 65%;
}
.btn-ppal {
  color: var(--blanco);
  background-color: var(--principal);
  border: var(--principal);
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}
.btn-ppal:hover {
  color: var(--blanco);
  background-color: var(--principal-oscuro);
  transition: .2s;
}
.btn-contacto {
  color: var(--blanco);
  background-color: transparent;
  border: var(--principal) solid 1px;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
}
.btn-contacto:hover {
  color: var(--blanco);
  background-color: var(--principal);
  transition: .2s;
}

/* Mis trabajos */

.btn {
  color: var(--blanco);
  background-color: var(--principal);
  border: var(--principal);
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: bold;
  text-decoration: none;
}
.btn:hover {
  color: var(--grisClaro);
  background-color: var(--principal-oscuro);
  transition: .2s;
}

.bg-info {
  background-color: #fff3e1 !important;
}

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

textarea {
  height: 300px;
  resize: none;
}

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
