:root {
  --blanco:            #FFFFFF;
  --gris:              #757575;
  --negro:             #000000;
  --principal:         #ff9300 ;
  --secundario-oscuro: #cc7700 ;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Utilidades */

.font-light {
  font-weight: lighter;
}

.bg-color-ppal {
  background-color: var(--principal);
}

.color-ppal {
  color: var(--principal);
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

span.font-light {
  color: var(--blanco);
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
